#comments>ul {
	padding: 0;
}
#comments>ul>li {
	list-style-type:none;
	padding: 0;
	margin: 0;
}
.commentAuthor {
	background: #eee;
	box-shadow: 0 4px 6px #eee;

	color: #555;
	border-radius: 5px;
}
.commentAuthor img {
	background: #eee;
	box-shadow: 0 4px 6px #eee;

	float:left;
	vertical-align:middle;
	padding: 5px;
	height:40px;
	border-radius: 5px;
	margin-right: 5px;
}
.unverified .commentAuthor {background: gold;}

.commentFeed{
	float:right;
	vertical-align:middle;
}
.commentFeed img{vertical-align:middle;}
.commentFeed a{text-decoration:none;}

.commentOk,
.commentError {
	padding: 2em;
	color: #000;
	margin: 5px;
}
.commentOk {
	background: lightgreen;
	border-radius: 1em;
}
.commentError {
	background: red;
}

#commentForm{
	background: #eee;
	box-shadow: 0 4px 6px #eee;
	border: 1px solid gray;
	border-radius: 0.5em;
	padding: 10px;
	color: #999;
}
#commentForm a{
	color: #999;
}

#commentForm textarea,
#commentForm input{
	font: 100%/120% Verdana, Arial, Helvetica, sans-serif;
	padding: 1em;
	margin: 0;
	border: 1px dotted gray;
	border-top: 3px solid #777;
	box-shadow: inset 0 4px 60px #eee;
}

#commentPreview{
	background: #fff;
	padding: 0 1em;
	margin: 0;
	border: 1px solid #000;
	color: #000;
	box-shadow: inset 0 0 10px #0f0;
}

#commentForm textarea{
	width: 96%;
	height: 8em;
}

#commentForm input{
	width: 65%;
}
#commentForm input[type=submit]{
	float:right;
	width: 28%;

	border-radius: 5px;
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, to(rgb(222, 222, 222)), from(rgb(255, 255, 255)));
	background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(222, 222, 222));
	background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(222, 222, 222));
	background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(222, 222, 222));
	background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(222, 222, 222));
	background-image: linear-gradient(top, rgb(255, 255, 255), rgb(222, 222, 222));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#dedede');

	color:#616161;
	text-shadow: #fff 0px 1px 1px;
	border: 1px #e6e6e6 solid;
	box-shadow:#606060 0px 1px 2px;
}
#commentForm input[type=submit]:hover{
	cursor: pointer !important;
	color:#515151;
	background-color: #f9f8f8;
	background-image: -webkit-gradient(linear, left top, left bottom, to(rgb(213, 213, 213)), from(rgb(249, 248, 248)));
	background-image: -webkit-linear-gradient(top, rgb(249, 248, 248), rgb(213, 213, 213));
	background-image: -moz-linear-gradient(top, rgb(249, 248, 248), rgb(213, 213, 213));
	background-image: -o-linear-gradient(top, rgb(249, 248, 248), rgb(213, 213, 213));
	background-image: -ms-linear-gradient(top, rgb(249, 248, 248), rgb(213, 213, 213));
	background-image: linear-gradient(top, rgb(249, 248, 248), rgb(213, 213, 213));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f8f8', EndColorStr='#d5d5d5');
}

#commentForm :invalid {
	border-color: red;
}
