html {
	background: lightgray;
}

article {
	width: 900px;
	margin: 0 auto;
	background: white;
	padding: 1em 3em;
}

#comments {
	width: 600px;
	margin: 0 auto;
}

#comments>ul {
	padding: 0;
}
#comments>ul>li {
	list-style-type:none;
	padding: 0;
	margin: 0;
}
#comments .commentAuthor {
	background: lightgray;
}
#comments .commentAuthor img {
	vertical-align:middle;
	padding: 5px;
}

#commentForm{
	background: lightgray;
}

.commentOk,
.commentError {
	display: block;
	padding: 2em;
}
.commentOk {
	background: lightgreen;
}
.commentError {
	background: red;
}

#commentForm textarea{
	width: 588px;
	border: 1px solid gray;
	padding: 5px;
	margin: 0;
	height: 8em;
}

#commentForm input{
	width: 378px;
	padding: 10px;
	margin: 0 10px 0 0;
	border: 1px solid gray;
}
#commentForm input[type=submit]{
	width: 190px;
	padding: 10px;
	margin: 0;
}
